<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

       <import resource="auditoriums.xml"/>

       <bean id="eventDAO" class="ua.epam.spring.hometask.dao.EventDAO"/>

       <bean id="ticketDAO" class="ua.epam.spring.hometask.dao.TicketDAO"/>

       <bean id="userDAO" class="ua.epam.spring.hometask.dao.UserDAO"/>

       <bean id="auditoriumServiceImpl" class="ua.epam.spring.hometask.service.impl.AuditoriumServiceImpl">
              <constructor-arg ref="auditoriums"/>
       </bean>

       <bean id="bookingService" class="ua.epam.spring.hometask.service.impl.BookingServiceImpl">
              <constructor-arg ref="ticketDAO"/>
       </bean>

       <bean id="eventServiceImpl" class="ua.epam.spring.hometask.service.impl.EventServiceImpl">
              <constructor-arg ref="eventDAO"/>
       </bean>

       <bean id="userServiceImpl" class="ua.epam.spring.hometask.service.impl.UserServiceImpl">
              <constructor-arg ref="userDAO"/>
       </bean>

       <bean id="discountServiceImpl" class="ua.epam.spring.hometask.service.impl.DiscountServiceImpl">
              <constructor-arg>
                     <list>
                            <ref bean="discountServiceBirthdayImpl"/>
                            <ref bean="discountServiceTenthImpl"/>
                     </list>
              </constructor-arg>

       </bean>

       <bean id="discountServiceTenthImpl" class="ua.epam.spring.hometask.service.impl.DiscountServiceTenthImpl"/>

       <bean id="discountServiceBirthdayImpl" class="ua.epam.spring.hometask.service.impl.DiscountServiceBirthdayImpl"/>
</beans>