<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="event" class="ua.epam.spring.hometask.domain.Event" scope="prototype"/>

       <bean id="user" class="ua.epam.spring.hometask.domain.User" scope="prototype"/>

       <bean id="eventRating" class="ua.epam.spring.hometask.domain.EventRating" scope="prototype"/>

       <bean id="auditorium" class="ua.epam.spring.hometask.domain.Auditorium"/>

       <bean id="ticket" class="ua.epam.spring.hometask.domain.Ticket" scope="prototype">
              <constructor-arg index="0" ref="user"/>
              <constructor-arg index="1" ref="event"/>
              <constructor-arg index="2" ref=""/>
              <constructor-arg index="3" value=""/>
       </bean>


       <bean id="eventDAO" class="ua.epam.spring.hometask.dao.EventDAO"/>

       <bean id="ticketDAO" class="ua.epam.spring.hometask.dao.TicketDAO"/>

       <bean id="userDAO" class="ua.epam.spring.hometask.dao.UserDAO"/>

       <bean id="auditoriumServiceImpl" class="ua.epam.spring.hometask.service.impl.AuditoriumServiceImpl"/>

       <bean id="bookingService" class="ua.epam.spring.hometask.service.impl.BookingServiceImpl">
              <constructor-arg ref="ticketDAO"/>
       </bean>

       <bean id="eventServiceImpl" class="ua.epam.spring.hometask.service.impl.EventServiceImpl">
              <constructor-arg ref="eventDAO"/>
       </bean>

       <bean id="userServiceImpl" class="ua.epam.spring.hometask.service.impl.UserServiceImpl">
              <constructor-arg ref="userDAO"/>
       </bean>

       <bean id="discountServiceImpl" class="ua.epam.spring.hometask.service.impl.DiscountServiceImpl">
              <constructor-arg>
                     <list>
                            <ref bean="discountServiceBirthdayImpl"/>
                            <ref bean="discountServiceTenthImpl"/>
                     </list>
              </constructor-arg>

       </bean>

       <bean id="discountServiceTenthImpl" class="ua.epam.spring.hometask.service.impl.DiscountServiceTenthImpl"/>

       <bean id="discountServiceBirthdayImpl" class="ua.epam.spring.hometask.service.impl.DiscountServiceBirthdayImpl"/>
</beans>